:root{
    --main-color:#212121;
}

body{
    color: black;
    font-family: "Raleway", sans-serif ;
    font-style: normal;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.active-page{
    color: #2196F3;
}

ul li{
    list-style: none;
}

h1 h2 h3 h4 h5 h6 p{
    margin-top: 0px;
    margin-bottom: 0px;
}

ul ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}


/*=============HEADER==========================*/

.flex-header{
    display: flex;
    margin-top: 24px;
    margin-left: 215px;
}

.navigation-bar{
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.navigation-bar a{
    color: #000000;
}

.navigation-bar-contacts{
    color: var(--main-color);
    padding-left: 50px;
}

.navigation-bar-studio{
    color: var(--main-color);
}

.navigation-bar-portfolio{
    color: var(--main-color);
    padding-left: 50px;
}

.logo-thre-letters{
    color: #2196F3;
}

.navigation-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: inline-flex;
    padding-left: 93px;
}

.mail-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
}

.phone-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    padding-left: 50px;
}

.flex-mail-phone{
    display: inline-flex;
    padding-left: 331px;
}

.navigation-bar-studio:hover{
    color: #2196F3;
}

.navigation-bar-portfolio:hover{
    color: #2196F3;
}

.navigation-bar-contacts:hover{
    color: #2196F3;
}

.mail-link:hover{
    color: #2196F3;
}

.phone-link:hover{
    color: #2196F3;
}

/*=============HERO==========================*/
.business{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    padding-left: 452px;
    top: 120px;
    width: 1148px;
}

.button-service{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;  
    background-color: #2196F3;
    margin-top: 30px;
    margin-left: 700px;
    width: 216px;
    height: 56px;
    padding: 10px 32px 10px 32px;
}

.bussiness-position{
    width: 1600px;
    height: 600px;
    margin-top: 80px;
    background: #2F303A;
}


/*=============WAYS FOR BUSINESS==========================*/

.hiden-ways-business{
    margin-left: -500px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
}

.ways-background-color{
    background-color: #E5E5E5;;
}

.ways{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color)
}

.ways-option{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-transform: none;
}

.ways-position{
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    margin-left: 215px;
    margin-top: 94px;
    margin-right: 215px;
}

/*=============OUR WORK==========================*/

.our-work{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

.position-maket-1{
    padding: 0px;
}

.position-maket-2{
    padding-left: 30px;
}

.position-maket-3{
    padding-left: 30px;
}

.our-work-direction{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.flex-position-our-work{
    width: 1170px;
    height: 386px;
    margin-left: 215px;
    background-color: #E5E5E5;;
    
}

/*=============OUR TEAM==========================*/

.our-team-position{
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    margin-top: 94px;
    background-color: #F5F4FA;
}

.our-team{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    padding: 94px 0px 0px 0px;
    margin: 0px;
}

.flex-position{
    display: flex;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 215px;

}

.team-member{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.member-profession{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.igor-demyianenko{
    padding: 0px;
}

.olga-repina{
    margin-left: 30px;
}

.nykolay-tarasov{
    margin-left: 30px;
}

.mykhail-ermakov{
    margin-left: 30px;
}

.member-position{
    background-color: #FFFFFF;
    width: 270px;
    height: 368px;
}

/*=============FOOTER==========================*/

.footer{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-mail{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-phone{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*=============PORTFOLIO==========================*/

.button-service-portfolio{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.button-service-portfolio:hover{
    background: #2196F3;
    color:white;
}

.name-content{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color)
}

.direction{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}