:root{
    --main-color:#212121;
}

body{
    color: black;
    font-family: "Raleway", sans-serif ;
    font-style: normal;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.active-page{
    color: #2196F3;
}

ul{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.container{
    width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

/*=============HEADER==========================*/

.navigation-bar{
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: flex;
    margin-top: 24px;
    margin-left: 215px;
}

.position-header{
    display: flex;
}

.navigation-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: flex;
    margin-top: 8px;
    margin-left: 93px;
}

.mail-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    margin-right: 50px;
}

.phone-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
}

.navigation-position:not(:last-child) {
    margin-right: 50px;
}

.mail-phone-position{
    display: flex;
    margin-top: 28px;
    margin-left: auto;
}

.navigation-bar a{
    color: #000000;
}


.navigation-bar-contacts{
    color: var(--main-color);
}

.navigation-bar-studio{
    color: var(--main-color);
}

.navigation-bar-portfolio{
    color: var(--main-color);
}

.logo-thre-letters{
    color: #2196F3;
}

.navigation-bar-studio:hover{
    color: #2196F3;
}

.navigation-bar-portfolio:hover{
    color: #2196F3;
}

.navigation-bar-contacts:hover{
    color: #2196F3;
}

.mail-link:hover{
    color: #2196F3;
}

.phone-link:hover{
    color: #2196F3;
}

/*=============END HEADER==========================*/

/*=============HERO==========================*/
.business{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
}

.business-background{
    background-color: #2F303A;
    padding-bottom: 200px;
}

.button-service{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;  
    background-color: #2196F3;
    margin-top: 30px;
    margin-left: 700px; /*=============Нужно придумать как изменить на центрирование кнопки==========================*/
}
/*=============END HERO==========================*/

/*=============WAYS FOR BUSINESS==========================*/

.hiden-ways{
    margin-left: -700px;
    height: 0px;
}

.ways-background{
    background-color: #E5E5E5;
}

.ways-position{
    display: flex;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
    background-color: #E5E5E5;
}

.ways{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
}

.ways-option{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-transform: none;
    width: 270px;
    height: 75px;
}

/*=============END WAYS==========================*/

/*=============OUR WORK==========================*/

.our-work-position{
    padding-top: 94px;
    background-color: #E5E5E5;
}

.our-work{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.our-work-image{
    display: flex;
    margin-left: 215px;
}

.our-work-image-position:not(:last-child) {
    margin-right: 50px;
}

/*=============END OUR WORK==========================*/

/*=============OUR TEAM==========================*/

.our-team{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.team-member{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.member-profession{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*=============FOOTER==========================*/

.footer{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-mail{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-phone{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*=============PORTFOLIO==========================*/

.button-service-portfolio{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.button-service-portfolio:hover{
    background: #2196F3;
    color:white;
}

.name-content{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color)
}

.direction{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}